$icon-font-path: '../fonts/';

/* SASS variable overrides before the import */
$body-bg: #CCCCCC;

/* fonts setup */
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 18px;
// $font-size-h1: floor(($font-size-base * 3.11)) !default; // ~56px
$brand-primary: #e23a1d; /* used for the button CTA and the h1 color */
$btn-font-weight: 700;
$btn-border-radius-large: 24px;
$theme-color: #0176C5;

h1 {
  font-size: 49px;
  font-weight: bold;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: $font-family-sans-serif;
}

.container {
  max-width: 1800px;
  background-color: #fff;
  padding-bottom: 170px;
}

.top {
  background-color: $theme-color;
  color: #fff;
  &__phone {
    padding: 8px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    float: right;
  }
  &__phonelink {
    color: #fff;
  }
}

.cta {
  background-color: #fff;
  &__btn {
    margin: 30px;
    float: right;
  }
}


.three {
  &__img {
    margin: 0 auto 30px auto;
  }
  &__title,
  &__content {
    text-align: center;
  }
  &__title {
    font-family: 'Just Another Hand';
    color: $theme-color;
    margin-bottom: 0;
  }
}





.order {
  padding: 15px;
  text-align: center;
  &__item {
    border: 1px solid #ccc;
    border-right: none;
    padding-bottom: 25px;
    box-sizing: border-box;
    @media (max-width: 768px) {
      border-right: 1px solid #ccc;
      border-bottom: none;
    }
  }
  &__item:last-of-type {
    border: 5px solid $theme-color;
  }
  &__separator {
    border-color: #ccc;
  }
  &__img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__btn {
    margin: 40px auto 10px auto;
    border-radius: 8px;
    @media (max-width: 1200px) {
      width: 100%;
      font-size: 17px;
      padding: 10px;
    }
  }
}

.questions {
  margin-top: 38px;
  font-weight: bold;
}





// buttons
.btn-blue {
  background-color: $theme-color;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 45px;
  border: none;
}

.btn:hover,
.btn:active,
.btn:hover,
.btn:focus {
  color: #fff!important;
  background-color: $theme-color!important;
}

// equal height columns
.row-xs-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
@media (min-width: 768px) {
  .row-sm-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .row-md-flex {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .row-lg-flex {
    display: flex;
  }
}




// make width of page wider in large viewports
@media screen and (min-width: 1620px) {
  .container {
      width: 1600px;
      > .row,
      .background-contain {
        padding-left: 12%;
        padding-right: 12%;
      }
  }
}
